.menu-item {
    background-color: white;
    border: none !important;
    padding-left: 10% !important;
}

.panel .menu-item {
    color: #809396;
}

.menu-item:before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 2px;
    bottom: 2px;
    border: solid;
    border-width: 0 0 0 3px;
}
